@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {  
    font-family: var(--fuente-principal);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

/* css header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 1rem 1rem;
    background-color: var(--color-header);
    color: var(--color-texto-nav);
}

.logo img{
    /* background-color: #ffffff; */
    border-radius: 50%;
    /* width: auto; */
    height: 95px;
    max-height: 80%;
    object-position: center;
    display: flex;
}

.nav ul {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 0px;
    gap: 1.5rem;
}

.nav a {
    color: var(--color-texto-nav);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--color-texto-hover-nav);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-texto-nav);
    cursor: pointer;
}

/* css footer */

.footer {
    display: flex;
    min-width: 100%;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: var(--color-footer);
    color: var(--color-texto-footer);
    padding: 1em;
    flex-wrap: wrap;
}

.footer-left{
    display: flex;
}

.mapa {
    display: flex;
    /* max-width: 100%; */
    /* height: 100%; */
    align-self: center;
    justify-self: end;
    /* gap: 10px; */
    border: none;
    background-color: transparent;
    padding: 1em;
    flex-shrink: 2;

}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    flex-shrink: 1;

}
.espacio{
    flex: 1;
    background-color: transparent;
    align-content: center;
    padding-left: 1em;
}

.espacio ul li a{
    color: var(--color-texto-nav);
    text-decoration: none;

}
.footer-right a{
    color: var(--color-texto-footer);
    text-decoration: none;
    font-weight: normal;
    font-size: 2rem;
    transition: color 0.3s;
    padding: 10px;
    padding-bottom: 0px;
}

.footer-right a:hover {
    text-decoration: underline;
}

/* main */

.principal{
    display: flex;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    
    .contenedor{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        align-self: start;
        align-items: start;

        .fotoperfil{
            display: flex;
            flex: 1 1 20%;
            flex-direction: column;
            align-items: center;
        }

        .infopersonal{
            display: flex;
            flex: 1 1 15%;
            flex-direction: column;
            align-items: start;
            /* padding-left: 1em; */
            padding-right: 1em;
            align-self: center;

            .tarjeta{
                display: flex;
                gap: 1em;
                margin-bottom: 1em;

                i{
                    justify-self: center;
                    align-self: center;
                }
            }
        }

        .infoadicional{
            flex: 1 1 35%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: center;
        }

        .enlaces{
            display: flex;
            flex: 1 1 100%;
            margin: 2em 0;
            justify-content: center;

            button {
                padding: 10px 20px;
                background-color: var(--color-button);
                color: var(--color-texto-button);
                border: none;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

            button:hover {
                background-color: var(--color-button-hover);
            }
        }
    }
}


@media (max-width: 768px) {

    /* header */
    .nav {
        position: absolute;
        text-align: right;
        top: 70px;
        right: 0;
        background: var(--color-header);
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;

        ul {
            flex-direction: column;
            justify-content: space-evenly;
            padding-right: 2rem;
            margin-bottom: 1em;
        }
    }

    .nav.active {
        display: flex;
    } 

    .menu-toggle {
        display: block;
    }

    .logo img{
        height: 60px;
        max-height: 80%;
    }

    .header{
        height: 80px;
    }

    /* footer */

    .footer{
        flex-direction: column;
    }
    .footer-right{
        flex-direction: row;
    }
    .footer-left{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .espacio ul {
        flex-direction: row;
    }

    .mapa{
        width: 95%;
        align-self: center;
        justify-self: center;
    }

    /* main */
        
    .principal{
        align-items: center;
        .contenedor{
            word-wrap: break-word;
            overflow-x: hidden;
        }
        .fotoperfil{
            flex: 1 1 100%;
            width: 100%;

        }
        .infopersonal,
        .infoadicional,
        .fotoperfil,
        .enlaces{
            flex: 1 1 100%;
            width: 100%;
            padding: 1em 0;
            align-items: center;
            align-self: center;
        }

        .infopersonal{
            
        }
    }
}