* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  
  --color-texto: #ffffff;
  --color-texto-nav: white;
  --color-texto-hover-nav: #00c4ff;
  --color-texto-tarjetas: black;
  --color-texto-footer: white;
  --color-texto-buton: white;

  --fuente-principal: sans-serif, 'arial';
  --fuete-titulos: arial, sans-serif;
  --fuente-tarjetas: sans-serif, arial;
  
  --color-background: white;
  --color-footer:#333;
  --color-tarjetas: rgb(208, 218, 36);
  --color-header: #333;
  --color-buton: #007bff;
  --color-buton-hover: #0056b3;
}

body {  
    font-family: var(--fuente-principal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

/* css header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-header);
    color: var(--color-texto-nav);
}

.logo img{
    width: 40px;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    object-position: center;
    display: block;
}

.nav ul {
    display: flex;
    list-style: none;
    padding: 10px 0px;
    gap: 1.5rem;
}

.nav a {
    color: var(--color-texto-nav);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: var(--color-texto-hover-nav);
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--color-texto-nav);
    cursor: pointer;
}

.principal{
    display: flex;
    flex: 1;
    padding: 1rem 1rem;
    margin-top: 90px;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.contenidoP{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 2fr);
    grid-template-areas: 
    "area1 area1 area2 area3"
    "area1 area1 area2 area3"
    "area4 area4 area6 area6"
    "area5 area5 area6 area6";
    /* "area3 area3 area3 area4"
    "area3 area3 area3 area4"; */
    gap: 15px;
}

.item{
    color: var(--color-texto-tarjetas);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-color: var(--color-tarjetas);
    border-radius: 20px;
}

.card-title {
  font-size: 35px;
  margin-bottom: 20px;
}

.card-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: var(--color-buton);
  color: var(--color-texto-buton);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.card-button:hover {
  background-color: var(--color-buton-hover);
}

.item1{
    grid-area: area1;
}
.item2{
    grid-area: area2;
}
.item3{
    grid-area: area3;
}
.item4{
    grid-area: area4;
}
.item5{
    grid-area: area5;
}
.item6{
    grid-area: area6;
}
/* css footer */

.footer {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    background-color: var(--color-footer);
    color: var(--color-texto-footer);
    padding: 20px;
    flex-wrap: nowrap;
}

.footer-left iframe {
    max-width: 100%;
    padding: 10px;
    border: none;
    background-color: brown;
}

.footer-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
    flex-wrap: nowrap;
    background-color: brown;
    flex-shrink: 0;

}
.espacio{
    flex: 1;
    background-color: brown;
}
.footer-right a{
    color: var(--color-texto-footer);
    text-decoration: none;
    font-weight: normal;
    font-size: 2rem;
    transition: color 0.3s;
    padding-bottom: 10px;
    padding-right: 10px;
}

.footer-right a:hover {
    text-decoration: underline;
}



/* Responsive */
@media (max-width: 768px) {
    .nav {
        position: absolute;
        text-align: right;
        top: 70px;
        right: 0;
        background: var(--color-header);
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
    }

    .nav.active {
        display: flex;
    }

  .nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        gap: 1rem;
        padding-right: 2rem;
    }

  .menu-toggle {
        display: block;
    }

    .contenidoP{
    display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 2fr);
    grid-template-areas: 
    "area1"
    "area2"
    "area3"
    "area4"
    "area5"
    "area6";
    /* "area3 area3 area3 area4"
    "area3 area3 area3 area4"; */
    gap: 15px;
}
}