:root {
  
  --color-texto: #3E2C23 ;
  --color-texto-titulos: #6B4F3B;
  --color-texto-nav: white;
  --color-texto-hover-nav: #F5CBA7;
  --color-texto-tarjetas: #3E2C23;
  --color-texto-footer: white;
  --color-texto-button: white;

  --fuente-principal: sans-serif, 'arial';
  --fuete-titulos: arial, sans-serif;
  --fuente-tarjetas: sans-serif, arial;
  
  --color-background: #FFF8F0;
  --color-footer: #A9746E;
  --color-tarjetas: #DAB49D;
  --color-header: #3E2C23;
  --color-button: #A9746E;
  --color-button-hover: #F5CBA7;
  --color-buttonfloat: #a9746e96;
  --color-buttonfloat-hover: #f5cba786;

}