:root {
  
  --color-texto: #ffffff;
  --color-texto-nav: white;
  --color-texto-hover-nav: #00c4ff;
  --color-texto-tarjetas: black;
  --color-texto-footer: white;
  --color-texto-button: white;

  --fuente-principal: sans-serif, 'arial';
  --fuete-titulos: arial, sans-serif;
  --fuente-tarjetas: sans-serif, arial;
  
  --color-background: white;
  --color-footer: brown;
  --color-tarjetas: rgb(168, 180, 55);
  --color-header: #333;
  --color-button: #007bff;
  --color-button-hover: #0056b3;
}